<h1>Contactar a Platzi Store 🚀</h1>

<h2>Escribenos por Whatsapp</h2>
<div class="noticia">
  <img
    class="izquierda"
    src="https://lh6.ggpht.com/mp86vbELnqLi2FzvhiKdPX31_oiTRLNyeK8x4IIrbF5eD1D5RdnVwjQP0hwMNR_JdA=w300"
  />
  <p>
    Tel: 093-936-2450, puedes escribirnos todos los días. Responderemos lo antes
    posible.
  </p>
</div>


<div class="row reverse">
  <div class="col-xs-2">
      <div class="box">
          1
      </div>
  </div>
  <div class="col-xs-2">
      <div class="box">
          2
      </div>
  </div>
  <div class="col-xs-2">
      <div class="box">
          3
      </div>
  </div>
</div>